<!DOCTYPE HTML>
<html>
<head>
    <title>Добавление заметки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .default
        {
        margin : 5px;
        }
    </style>
</head>
<body>
<h2>Добавление новой заметки</h2>
<div class="default">
    <form method="post" action="add_post">
        <p><textarea type="text" aria-multiline="true" rows="10" cols="50" name="text" placeholder="Текст заметки"></textarea></p>
        <p><input name="isDone" type="checkbox">Выполнено</input></p>
        <p><button type="submit">Добавить</button></p>
    </form>
    <a style="text-decoration:none" href="/"><button>Отмена</button></a>
</div>
</body>
</html>