<!DOCTYPE HTML>
<html>
<head>
    <title>Редактирование [id:{{id}}]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .default
        {
        margin : 5px;
        }
    </style>
</head>
<body>
<h2>Редактирование заметки</h2>
<div class="default">
    <form method="post" action="edit_post">
        <input name="id" type="hidden" value="{{id}}"/>
        <p><textarea type="text" aria-multiline="true" rows="10" cols="50" name="text" placeholder="Текст заметки">{{text}}</textarea></p>
        <p><input name="isDone" type="checkbox" {{#isDone}}checked{{/isDone}}>Выполнено</input></p>
        <p><button style="default" type="submit">Сохранить</button></p>
    </form>
    <a style="text-decoration:none" href="/"><button>Отмена</button></a>
</div>
</body>
</html>