<!DOCTYPE HTML>
<html>
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            border-color: #ccc;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            text-align: center;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #fff;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: #ccc;
            color: #333;
            background-color: #f0f0f0;

        }

        .tg .tg-4eph {
            background-color: #f9f9f9
        }


    </style>
    <style>
    .currentPage
    {
        border: 1px solid #000; /* Рамка вокруг текста */
    }

    ul.hr a
    {
    text-decoration: none;
    }

   ul.hr {
    margin: 0;
    padding: 4px;
   }
   ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
   }

    button
    {
     background-color : white;
    }
    </style>
</head>
<body>
<div align="center">
    <h2>Заметки ({{notes_count}})</h2>
    <table class="tg">
        <tr>
            <th width="120">Фильтр</th>
            <th width="120">Сортировка</th>
        </tr>
        <tr>
            <td>{{filterType}}</td>
            <td>{{sortType}}</td>
        </tr>
    </table>
    <div style="margin : 10px 0 10px 0">
        <ul class="hr" title="Фильтр">
            <li><a href="/filter?filterType=all">
                <button>Все заметки</button>
            </a></li>
            <li><a href="/filter?filterType=done">
                <button>Только выполненные</button>
            </a></li>
            <li><a href="/filter?filterType=undone">
                <button>Только невыполненные</button>
            </a></li>
        </ul>
        <ul type="none" class="hr" title="Сортировка">
            <li><a href="/sort?sortType=newFirst">
                <button>Сначала новые</button>
            </a></li>
            <li><a href="/sort?sortType=oldFirst">
                <button>Сначала старые</button>
            </a></li>
        </ul>
    </div>
    <div>
        <table class="tg">
            <tr>
                <th>Текст заметки</th>
                <th>Дата создания</th>
                <th width="140">Статус</th>
                <th colspan="2">Действия</th>
            </tr>
            {{#notes_data}}
            <tr>
                <td>{{text}}</td>
                <td>{{creationTime}}</td>
                <td>
                    {{#isDone}}
                    <strong style="color : Green">Выполнено</strong>
                    {{/isDone}}
                    {{^isDone}}
                    <strong style="color : Pink">Не выполнено</strong>
                    {{/isDone}}
                </td>
                <td><a href="/edit?id={{id}}">
                    <button>Редактировать</button>
                </a></td>
                <td><a href="/remove?id={{id}}">
                    <button>Удалить</button>
                </a></td>
            </tr>
            {{/notes_data}}
        </table>
    </div>
    <div style="margin : 10px 0 10px 0">
        <ul class="hr">
            {{#notes_links}}
            <li>
                {{#isCurrent}}
                <span class="currentPage">
                    {{linkText}}
                </span>
                {{/isCurrent}}
                {{^isCurrent}}
                <a href="/?page={{pageNumber}}">{{linkText}}</a>
                {{/isCurrent}}
            </li>
            {{/notes_links}}
        </ul>
    </div>
    <div>
        <a href="/add">
            <button>Добавить заметку</button>
        </a>
    </div>
</div>
</body>
</html>