<!DOCTYPE HTML>
<html>
<head>
    <title>Подтверждение удаления [{{id}}}]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .default
        {
        margin : 5px;
        }
    </style>

</head>
<body>
<h2>Удаление заметки</h2>
<div class="default">
    <form method="post" action="remove_post">
        <input readonly name="id" type="hidden" value="{{id}}"/>
        <span>{{text}}</span>
        </br>
        {{#isDone}}
        <p><strong style="color : Green">Выполнено</strong></p>
        {{/isDone}}
        {{^isDone}}
        <p><strong style="color : Pink">Не выполнено</strong></p>
        {{/isDone}}
        <p><button type="submit">Подтвердить удаление</button></p>
    </form>
    <a style="text-decoration:none" href="/"><button>Отмена</button></a>
</div>
</body>
</html>